<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></script>
  <script src="//cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

</head>

<body>
  <%- include('navbar'); %>

    <section style="background-color: #dcdad8;">
      <h1 style="font-size: 5vw;" class="text-success text-center mb">Clear Credits</h1>
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-9 col-lg-7 col-xl-5">
            <form action="/clearcredits:<%=editor.client%>" method="post">
              <input type="hidden" name="eid" id="" value="<%=editor.id%>">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between mb-0">

                    <p class="text-muted mb-0">Bal: <%=editor.balance%>
                    </p>
                    <a class="btn btn-outline-danger" href="/credits">x</a>

                  </div>
                </div>
                <div class="rounded-bottom" style="background-color: #eee;">
                  <div class="card-body">
                    <p class="mb-4">Your payment details</p>

                    <div class="form-outline mb-3">
                      <input type="text" id="formControlLgXM8" class="form-control" value="<%=editor.itemname%>"
                        readonly />
                      <label class="form-label" for="formControlLgXM8">Item Name</label>
                    </div>
                    <div class="form-outline mb-3">
                      <input type="text" id="formControlLgXM8" class="form-control" value="<%=editor.client%>"
                        name="client" readonly />
                      <label class="form-label" for="formControlLgXM8">Name</label>
                    </div>

                    <div class="row mb-3">
                      <div class="col-6">
                        <div class="form-outline">
                          <input type="number" id="Balance" name="balance" class="form-control" value="" required />
                          <label class="form-label" for="formControlLgExpk8">Balance</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-outline">
                          <input type="number" id="paid" class="form-control" name="paid" value="<%=editor.Paid%>"
                            readonly />
                          <label class="form-label" for="formControlLgcvv8">Paid</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-outline">
                        <input type="number" id="total" class="form-control" value="<%=editor.Total%>" name="total"
                          readonly />
                        <label class="form-label" for="formControlLgcvv8">Total</label>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-outline-info btn-block" onclick="add()">Pay Balance</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

</body>
<script>
  function add() {
    let a = parseInt(document.getElementById('paid').value)
    let b = parseInt(document.getElementById('Balance').value)
    let c = a + b
    document.getElementById('paid').value = c
  }

</script>

</html>